.header{

    background-color: white;
    width: 1920px;
    
    position:sticky;
    top: 0;
    left: 0;
}
.name{
    height: 100px;
    margin: 20px;
   
}
.name img{
    position: relative;
    left: 50px;
   width: 120px;
   height: 120px;
}
.name p{
    font-size: 100px;
    color:rgb(16, 75, 16);
    font-weight: bold;
    display: inline;
    position: relative;
    left: 250px;
    bottom:40px;
    text-shadow: 2px 2px 0 rgb(32, 70, 34) ;
    
}
.registration
{
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 2px 2px 2px rgb(151, 245, 245);
    transition: 0.5s;
    position: relative;
    left: 450px;
    top: -60px;
   animation: sabith;
   animation-duration: 3s;
   animation-iteration-count: infinite;

}
@keyframes sabith {
   0% {
        background-color:white ;
        color:black;    
    }
    50%{
    color: white;
    background-color:rgb(32, 70, 34) ;
    }
  


}
.registration:hover
{
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color:rgb(32, 70, 34) ;
    font-size: 25px;
    box-shadow: 2px 2px 2px rgb(151, 245, 245);
    transition: 0.5s;
    cursor: pointer;
   

}
 
.nav{
   
    background-image: radial-gradient(white 2%,rgb(50, 90, 90) 98%);
    margin-bottom: 10px;
    height: 55px;
    width: 1920px;
    
}
.nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px; 
    font-weight: bold;
    transition: 0.5s;   
}
.nav a:hover{
    transition:0.5s;
    text-decoration:underline;
    color: rgb(158, 9, 9);
    font-size: 25px;  
    font-weight: bold;
}

.nav li{
    display: inline-block;
    position: relative;
    left: 600px;
    padding: 15px;
    margin: 0 20px;  
}
