*{
    padding:0;
    margin: 0;
    
}
body{
    background-image: url("../images/logo.png");
    background-position:center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 600px 600px;
    
    
}
.container{
    width: 1000px;
    
    
       
}
.reg-form h1{
    color: rgb(219, 105, 11);
    text-align: center;
    text-shadow: 2px 2px 0 gray;
    font-size: 50px;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: head;
    animation-duration: 0.75s;
    animation-direction: alternate-reverse;
}
@keyframes head {
    
    to{
        transform: translateY(1000px) rotateZ(270deg);
        font-size: 100px;
    }
    
}
h3{
    color: rgb(9, 131, 70);
    font-style: italic;
    position: relative;
    left: 50px;
    text-decoration: underline;
    font-size: 20px;
    
}

.reg-form{
  position: relative;
  left:250px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 4px 4px 0 gray;
  background-image:linear-gradient(to right,rgba(47, 240, 208, 0.678)  ,rgba(255, 255, 255, 0.452));
  
  
}
fieldset{
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto  auto;
    margin: 30px;
    border-radius: 50px;
}
legend{
    font-size: 20px;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}
input,select{
    height: 35px;
    border-radius: 30px;
    padding: 5px;
    font-size: 15px;
    box-shadow: 3px 3px 0 grey;
    border:2px solid rgb(248, 248, 248)
    
}
input:hover,select:hover{
    background-color: rgb(247, 242, 242);
}
.none{
    box-shadow: none;
    width: 25px;
    height: 25px;
    
}
.g{
    font-size: 20px;
    font-weight: normal;  
    color: black;
}
.gender{
    position: absolute;
    left:600px;
    top:400px
}

label,form p{
    margin:20px;
    font-size: 20px;
    font-weight: bold;
    
}
span{
    font-size: 18px;
    padding: 10px;
    color: rgb(46, 4, 2);
    font-weight: bolder;

}
.submit1 input{
    height: auto;
    padding:20px 80px;
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
   font-weight: bold;
   box-shadow: 2px 2px 0 grey;
   box-sizing: 30px;
   transition: 0.5s;
    position: relative;
    left: 350px;
}
.submit1 input:hover{
    height: auto;
    padding:20px 80px;
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
   font-weight: bold;
    position: relative;
    left: 350px;
    color: white;
    transition: 0.5s;
    background-color: rgb(8, 71, 8);
}
input::placeholder{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.nocapital::placeholder
{
    text-transform: lowercase;
}